service cloud.firestore {
  match /databases/{database}/documents {
    // Match any document in the database
    match /{document=**} {
      allow read, write: if true;  // Allow read and write access for everyone
    }
  }
}
