/* Connections container */
.connections-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    border-radius: 8px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .connections-container .title h2 {
    font-size: 24px;
    color: #011807;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  /* Back Button */
  .connections-back-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100px;
  }
  
  .connections-back-btn:hover {
    background-color: #45a049;
  }
  .title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  /* Individual connection */
  .connection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .connection p {
    font-size: 18px;
    color: #333;
    margin: 0;
  }
  
  /* Chat Button */
  .connection button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 100px;
  }
  
  .connection button:hover {
    background-color: #0056b3;
  }
  
  /* Message when no connections */
  .connections-container h4 {
    font-size: 18px;
    color: #555;
    text-align: center;
    margin-top: 20px;
  }
  